@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poiret+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #191919;
  }
}

/* force dark mode even if the user prefers light mode */
@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-color: #191919;
    }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
input, select, textarea{
    color: var(--background-color);
}
}
